<form class="form">
  <div class="mb-3">
    <input
    name="Name"
    type="text"
    class="form-control"
    id="name"
    placeholder="Nombre"
    [(ngModel)]="userModel.name"
    />
  </div>
  <div class="mb-3">
    <input
      name="LastName"
      type="text"
      class="form-control"
      id="last-name"
      placeholder="Apellido"
      [(ngModel)]="userModel.lastName"
    />
  </div>
  <div class="mb-3">
    <input 
    name="Email"
    type="email" 
    class="form-control" 
    id="email" 
    placeholder="Email" 
    [(ngModel)]="userModel.email"
    />
  </div>
  <div class="mb-3">
    <input
      name="Password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Contraseña"
      [(ngModel)]="userModel.password"
    />
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="btn btn-outline-light">Enviar</button>
</form>
