<form class="form" method="POST">
  <div class="mb-3">
    <input
      required
      name="Name"
      type="text"
      class="form-control"
      id="name"
      placeholder="Nombre"
      [(ngModel)]="userModel.name"
    />
  </div>
  <div class="mb-3">
    <input
      required
      name="LastName"
      type="text"
      class="form-control"
      id="last-name"
      placeholder="Apellido"
      [(ngModel)]="userModel.lastName"
    />
  </div>
  <div class="mb-3">
    <input
      required
      name="Email"
      type="email"
      class="form-control"
      id="email"
      placeholder="Email"
      [(ngModel)]="userModel.email"
    />
  </div>
  <div class="mb-3">
    <input
      required
      name="Password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Contraseña"
      [(ngModel)]="userModel.password"
    />
  </div>
  <input type="submit" class="btn btn-outline-light" value="Registrar" (click)="onSubmit()"/>
  <p class="pt-3" *ngIf="registrado; else sinRegistrar ">
    Usuario {{ userModel.name }} {{ mensaje }}
  </p>
  <ng-template #sinRegistrar>
    <p class="pt-3">Complete los campos para registrar</p>
  </ng-template>
</form>
