.form {
  min-width: 300px;
  background-color: #4a55a2;
  padding: 2rem;
  /* padding-bottom: .5rem; */
  border-radius: 1.2rem;
}

.form input {
  background-color: var(--secondaryBGColor);
  color: black;
}
