<form class="form">
  <div class="mb-3">
    <input
      [(ngModel)]="userModel.email"
      type="text"
      class="form-control"
      id="name"
      placeholder="Nombre"
    />
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="last-name"
      placeholder="Apellido"
    />
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" id="email" placeholder="Email" />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Contraseña"
    />
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="btn btn-outline-light">Enviar</button>
</form>
